
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutProfLogin.cshtml";
}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Forgot Password</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Forgot Password</p>
        @using (Html.BeginForm())
        {
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="mobileno" placeholder="Enter Mobile No">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            
            <div class="row">
               
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        }
        @*<form action="~/Areas/Professional/User/LoginProfessionalPost" method="post">
            </form>*@


        <!-- /.social-auth-links -->

    <div style="text-align:center;">
        <input class="btn btn-primary" value="Login Now" type="button" onclick="location.href='@Url.Action("LoginProfessional", "User")'" />
        <input class="btn btn-primary" value="Register Now" type="button" onclick="location.href='@Url.Action("RegistrationProfessional", "User")'" />
    </div>

    </div>
    <!-- /.login-box-body -->
</div>