

@{
    ViewBag.Title = "Accepted";
    Layout = "~/Areas/Professional/Views/Shared/_Layout.cshtml";
}

<h2>Accepted Requests</h2>
<hr />

@if (ViewBag.Message != null)
{

    <div class="alert alert-danger">
        <strong> @ViewBag.Message </strong>
    </div>

}


<table class="table" id="ongoingorder">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Service
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Appointment Date
            </th>
            <th>
                Customer Address
            </th>
            <th>
                Customer Contact
            </th>

            <th>Action</th>
        </tr>
    </thead>




</table>

@section styles{
    <style type="text/css">
        .glyphicon {
            font-size: 26px;
        }

        .user-menu {
            font-size: 26px;
        }
    </style>
}



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            function load_unseen_notification() {
                $.ajax({
                    url: "../../Professional/Orders/GetNotification",
                    method: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#dropdownid').html(data.Notification);
                        if (data.count > 0) {
                            $('.count').html(data.count);
                        }
                    }
                });
            }

            //$(document).on('click', '#dropdownid', function () {
            //    $('.count').html('');
            //    //load_unseen_notification('yes');
            //});

            setInterval(function () {
                load_unseen_notification();
            }, 15000);
        });

    </script>
    <script>
        $(document).ready(function () {
            $('#ongoingorder').DataTable({
                "ajax": {
                    "url": "../../Professional/Orders/AcceptedRequestAppointmentJson",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "SNo", "width": "70px" },
                    { "data": "Service", "width": "170px" },
                    { "data": "CustomerName", "width": "170px" },
                    { "data": "AppointmentDate", "width": "170px" },
                    { "data": "CustomerAddress", "width": "170px" },
                    { "data": "CustomerPhoneNumber", "width": "170px" },
                    {
                        "data": "OrderId", "width": "150px", "render": function (data) {

                            return '<a class="popup" href="../../Professional/Orders/ChangeStatus/' + data + '">Change Status</a>';
                        }
                    }
                    //{
                    //    "data": "OrderId", "width": "50px", "render": function (data) {
                    //        return '<a class="popup" href="/Orders/ChangeStatus/'+data+'">Change Status</a>';
                    //    }
                    //},
                ]
            });
        });
    </script>

}
