
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Areas/Professional/Views/Shared/_LayoutProfLogin.cshtml";
}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Forgot Password</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Forgot Password</p>
        @using (Html.BeginForm())
        {
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="mobileno" id="mobileno" placeholder="Enter Mobile No">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="row">

                <div class="col-xs-4 text-center">
                    <button type="submit" id="btnsubmit" class="btn btn-primary btn-block btn-flat">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        }
        @*<form action="~/Areas/Professional/User/LoginProfessionalPost" method="post">
            </form>*@

        <br />
        <br />
        <!-- /.social-auth-links -->

        <div style="text-align:center;">
            <input class="btn btn-primary" value="Login Now" type="button" onclick="location.href='@Url.Action("LoginProfessional", "User")'" />
            <input class="btn btn-primary" value="Register Now" type="button" onclick="location.href='@Url.Action("RegistrationProfessional", "User")'" />
        </div>

    </div>
    <!-- /.login-box-body -->
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnsubmit").click(function (e) {
                $.ajax({
                    url: "/User/MatchMobileNo",
                    method: "GET",
                    data: { 'mobileno': $("#mobileno").val() },
                    success: function (data) {
                        if (data != 1) {
                            alert("Kindly Entered Registered Mobile No");
                            e.preventDefault();
                        }
                    },
                    error: function (ex) {
                        alert(ex);
                    }
                });
            });
        });

    </script>


}